.Link{
    color:inherit;
    text-decoration: none;
}

.todo{
    color:blue;
    text-decoration: none
}
.pending{
    color:orangered;
    text-decoration: none
}
.complete{
    color:green;
    text-decoration: none
}
p{
    font-size: larger;
}
